{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="mb-3">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="mb-3">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.start_date_time.label(class="form-control-label") }}
                {% if form.start_date_time.errors %}
                    {{ form.start_date_time(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.start_date_time.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.start_date_time(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.end_date_time.label(class="form-control-label") }}
                {% if form.end_date_time.errors %}
                    {{ form.end_date_time(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.end_date_time.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.end_date_time(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control", rows='15') }}
                {% endif %}
            </div>
            <div class="mb-3 form-check form-switch">
                {{ form.active.label(class="form-check-label") }}
                {% if form.active.errors %}
                    {{ form.active(class="form-check-input is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.active.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.active(class="form-check-input") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary btn-sm") }}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('admin.contests_table') }}">Cancel</a>
        </div>
    </form>
    {{ ckeditor.load(pkg_type="standar") }}
    {{ ckeditor.config(name='description') }}
</div>
{% endblock content %}