{% extends "layout.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      {% for contest in contests %}
        <tr>
          <td>{{ contest.id }}</a></td>
          <td><a class="nav-item nav-link" href="{{ url_for('admin.update_contest', contest_id=contest.id) }}">{{ contest.title }}</td>
          <td>{{ contest.description }}</td>
          <td>{{ contest.start_date_time }}</td>
          <td>{{ contest.end_date_time }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('admin.new_contest') }}">Add Contest</a>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}