{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <h2 class="article-title">{{ contest.title }}</h2>
      {% if contest.active == 0 %}
      <h5 class="article-title"> - Inactive</h5>
      {% endif %}
      <h6>From {{ contest.start_date_time }} to {{ contest.end_date_time }}</h6>
      <p class="article-content">{{ contest.description }}</p>
    </div>
    <div class="article-metadata">
      {% if current_user == current_user %}
        <div>
          <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('admin.update_contest', contest_id=contest.id) }}">Update</a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('admin.contests_table') }}">Back</a>
        </div>
      {% endif %}
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Contest?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('admin.delete_contest', contest_id=contest.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}