{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body article-metadata">
      <h2 class="article-title">{{ team.name }}</h2>
    </div>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>UserID</th>
        <th>Username</th>
        <th>First</th>
        <th>Last</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</a></td>
          <td><a class="nav-item nav-link" href="{{ url_for('admin.user_admin', username=user.username) }}">{{ user.username }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.user_role.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('admin.new_contest') }}">Add Contest</a>
  </div>
    <div class="article-metadata">
        <div>
          <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('admin.update_team', team_id=team.id) }}">Update</a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('admin.teams_table') }}">Back</a>
        </div>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Team?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('admin.delete_team', team_id=team.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}