{% extends "layout.html" %}

{% block content %}
  <div class="media-body">
    <h2 class="article-title article-metadata mb-3">{{ title }}</h2>
  </div>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Challenge</th>
        <th>Submitted Time</th>
        <th>Submitter</th>
      </tr>
    </thead>
    <tbody>
      {% for submission in submissions %}
        <tr>
          <td>{{ submission.id }}</td>
          <td><a class="nav-item nav-link" href="{{ url_for('challenges.challenge', challenge_id=submission.challenge_id) }}">{{ submission.submission_challenge.title }}</a></td>
          <td><a class="nav-item nav-link" href="{{ url_for('submissions.submission', submission_id=submission.id) }}">{{ submission.time_submitted }}</a></td>
          <td>{{ submission.submission_author.first_name }} {{ submission.submission_author.last_name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('submissions.submission_new') }}">Add Submission</a>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}