{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <h2 class="article-title">{{ submission.time_submitted }}</h2>
      <h2 class="article-content">Submitted by {{ submission.submission_author.first_name }} {{ submission.submission_author.last_name }}</h2>
      <ul>
        {% if submission.code_filename %}
        <li>Code File: <a href="{{ url_for('submissions.download', submission_id=submission.id, filetype='code') }}">{{ submission.code_filename }}</a></li>
        {% endif %}
        {% if submission.code_output_filename %}
        <li>Code Output File: <a href="{{ url_for('submissions.download', submission_id=submission.id, filetype='code_output') }}">{{ submission.code_output_filename }}</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="article-metadata">
      {% if submission.run_success == None %}
        Your submission has not been compiled yet.
      {% endif %}
    </div>
    <div class="article-content">
      <pre>{{ code }}</pre>
    </div>
  </article>
{% endblock content %}