{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <h2 class="article-title">{{ submission.time_submitted }}</h2>
      <p class="article-content">{{ submission.user_id }}</p>
      <ul>
        <li>Support Files: <a href="{{ url_for('submissions.download', submission_id=submission.id, filetype='code') }}">{{ submission.code_filename }}</a></li>
        <li>Code Scoring File: <a href="{{ url_for('submissions.download', submission_id=submission.id, filetype='code_output') }}">{{ submission.code_output_filename }}</a></li>
      </ul>
    </div>
    <div class="article-metadata">
      {% if current_user == current_user %}
        
      {% endif %}
    </div>
  </article>
{% endblock content %}