{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="mb-3">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="mb-3">
                {{ form.title.label(class="form-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.description.label(class="form-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control", rows='15') }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.supportzip.label(class="form-label") }}
                <span class="text-muted">(must be in zip format)</span><br>
                Current file: {{ challenge.supportzip_filename }}
                {{ form.supportzip(class="form-control", type="file", id="formFile") }}
                {% if form.supportzip.errors %}
                    {% for error in form.supportzip.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.code_scorer.label(class="form-label") }}<br>
                Current file: {{ challenge.code_scorer_filename }}
                {{ form.code_scorer(class="form-control", type="file", id="formFile") }}
                {% if form.code_scorer.errors %}
                    {% for error in form.code_scorer.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.dockerfile.label(class="form-label") }}<br>
                Current file: {{ challenge.dockerfile_filename }}
                {{ form.dockerfile(class="form-control", type="file", id="formFile") }}
                {% if form.dockerfile.errors %}
                    {% for error in form.dockerfile.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary btn-sm") }}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('challenges.challenges_table') }}">Cancel</a>
        </div>
    </form>
    {{ ckeditor.load(pkg_type="standar") }}
    {{ ckeditor.config(name='description') }}
</div>
{% endblock content %}